:root {
    --white: #fff;
    --blue2: #004274;
    --orange: #fd7e14;
    --pink: #e83e8c;
    --blue3:#007bff;
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;


    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --red: #dc3545;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    
    --gray: #6c757d;
    --gray-dark: #24496d;
    
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}


body{
    margin: 0;
    padding: 0;
}
button{
    font-weight: 600;
}
select{
    color: #656565;
    margin: 20px 30px;
    border: solid 1px #656565;
    font-size: 15px;
    padding: 10px;
    width: 265px;
    border-radius: 5px;
}
.btn{
    background-color: var(--blue2);
    color: var(--white);
    padding: 15px 25px;
    border: none;
    margin: 20px 0;
    border-radius: 5px;

}
.btn:hover{
    background-color: var(--blue3);
}
.select{
    display: flex;
    margin-left: 230px;

}
.banner-1{
    width: 100%;
    height: 75vh;
}
h1{
    font-size: 48px;
    font-weight: bold;
}
h4{
    font-size: 15px;
}
/* annimation du test cover */
.text-over{
    color: var(--white);
    position: absolute;
    margin: -449px 235px;
    animation-duration: 3s;
    animation-name: stephane;
    animation-iteration-count: 2;
}
@keyframes stephane{
    from{
        margin-left: 0px;
        
    }
    to{
         margin-left: 235px;
        
    
    }
}
.View{
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 12px 25px;
    background-color: var(--blue2);
}
.View:hover{
    background-color: var(--blue3);

}
.div-icons{
    display: flex;
   
    margin: 35px 250px;
}
.div-icon{
    display: flex;
    margin: 35px 18px; 
    padding:10px;
transition: all ease 1s;
}
.div-icon:hover{
transition: all ease 1s; 
    padding:10px;
    margin-left: 18px;
    box-shadow:#BECCD6 2px 2px 2px 2px;
    border-radius: 10px;
}
.div-icon>img{
    margin-right: 15px;
    margin-top: 20px;
    width: 70px;
    height: 5vh;
}
.div-icon>div>p{
    color: var(--gray);
}

/*********** debut de slider ***********/

.card div .zoom img{
    transform: scale(1);
    transition:all 1s ease-in-out;
}
.card div .zoom:hover img{
    transform: scale(1.5);
}

.img-slider{
    display: flex;
    margin: 0px 250px;
    cursor: pointer;
}
.h2{
    font-size: 30px;
    text-align: center;
}
.img-slider>div>img{
    border-radius: 13px;
    width: 21vw;
   overflow: hidden;
    height: 14vw;
}
.card div .zoom{
    overflow: hidden;
    border-radius: 13px;
    width:21.2vw;
    
}
.img-slider>div{
     margin-left: 15px;
}

.swiper{
    width: 68vw;
    margin: 24vw 5vw;
    padding: 1vw;
}
.section{
    height: 70vh;
    width: 83vw;
    margin-left: 12vw;
    margin-bottom: 1vw;
}
.test1{
    position: absolute;
    background-color: var(--red);
    padding: 5px;
    color: var(--white);
    margin: -12vw 18vw;
}
.img-slider>.card>div>button{

    background-color: var(--yellow);
    padding: 5px;
    font-size: 11px;
    border: none;
}
.img-slider>.card>div>.view-detail{
      background-color: var(--blue2);
    
    padding: 10px;
    color: var(--white);
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin-left: 7vw;
}
.img-slider>.card>div>.view-detail:hover{
      background-color: var(--blue3);  
    }
    .people img{
        width: 100%;
        height: 75vh;
    }
.container1,.container1 h2{
    color: var(--white);
}

.content1{
    background-color: var(--gray-dark);
    display: flex;
    margin: -25vw 23vw;
    padding: 20px;
    width: 55vw;
    border-radius: 8px;
    position: absolute;
}
.content1>div{
    text-align: center;
    margin: 0 20px;
}
.container1 .speciale{
    color: var(--white);
    
    position: absolute;
    margin: -30vw 40vw;
}


.swiper-button-next, .swiper-button-prev{
    opacity: 0.7;
    color:#7d2ae8;
    transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color:#7d2ae8;
}





@media all and (max-width: 1000px){

    select{
        color: #656565;
        margin: 5px 10px;
        border: solid 1px #656565;
        font-size: 15px;
        padding: 12px;
        width: 22vw;
        border-radius: 5px;
    }
    .btn{
        background-color: var(--blue2);
        color: var(--white);
        padding: 15px 25px;
        border: none;
        margin: 5px 0;
        border-radius: 5px;

    }
    .btn:hover{
        background-color: var(--blue3);
    }
    .select{
        display: flex;
        margin-left: 5vw;

    }

    /*****************animation**************/
    .text-over{
        color: var(--white);
        position: absolute;
        margin: -420px 135px;
        animation-duration: 3s;
        animation-name: stephane;
        animation-iteration-count: 2;
    }
    @keyframes stephane{
        from{
            margin-left: 0px;
            
        }
        to{
             margin-left: 135px;
            
        
        }
    }
    
    .div-icons{
        display: flex;
       
        margin: 30px 5vw;
    }
    .swiper{
        width: 500px;
    }
    .people img{
        width: 100%;
        height: 55vh;
    }

.content1{
    background-color: var(--gray-dark);
    display: flex;
    margin: -45vw 5vw;
    padding: 20px;
    width: 85vw;
    border-radius: 8px;
    position: absolute;
}
.content1>div{
    text-align: center;
    margin: 0 20px;
}
.container1 .speciale{
    color: var(--white);
    
    position: absolute;
    margin: -50vw 30vw;
}



}



/* style pour smartphone*/
@media all and (max-width: 600px){
    .select{
        display: block;

    }
    select{
        color: #656565;
        margin: 5px -5px;
        border: solid 1px #656565;
        font-size: 15px;
        padding: 12px;
        width: 90vw;
        border-radius: 5px;
    }
    .btn{
        background-color: var(--blue2);
        color: var(--white);
        padding: 15px 25px;
        border: none;
        margin: 5 -5px;
        border-radius: 5px;

    }
    .btn:hover{
        background-color: var(--blue3);
    }
    .banner-1{
        width: 100%;
        height: 65vh;
    }
    h1{
        font-size: 35px;
        font-weight: bold;
    }
    h4{
        font-size: 20px;
    }
    .text-over{
        font-weight: 600;
        text-align: center;
        width: 80%;
        font-size: 25px;
        color: var(--white);
        position: absolute;
        margin: -370px 55px;
        animation-duration: 3s;
        animation-name: stephane;
        animation-iteration-count: 2;
    }
    @keyframes stephane{
        from{
            margin-left: 0px;
            
        }
        to{
             margin-left: 55px;
            
        
        }

    }
    .div-icons{
        display: block;
       
        margin: 30px 5vw;
    }
    .swiper{
        width: 80px;
    }
    .people img{
        width: 100%;
        height: 115vh;
    }

    .content1{
        background-color: var(--gray-dark);
        display: block;
        margin: -770px 1vw;
        padding: 20px;
        width: 85vw;
        border-radius: 8px;
        position: absolute;
    }
    .content1>div{
        text-align: center;
        margin-top: 50px;
    }
    .container1 .speciale{
        color: var(--white);
        width: 80%;
        position: absolute;
        margin: -850px 5vw;
    }





}