:root {
    --white: #fff;
    --blue2: #004274;
    --orange: #fd7e14;
    --pink: #e83e8c;
    --red: #dc3545;

    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;   
}
.customers-image{
	display: flex;
}
.customers-image img{
	opacity: 0.6;
	padding: 35px;
	width: 130px;

}
.customers-image img:hover{
	opacity: 1;
}
.p{
	text-align: center;
}
.souscription-space{
	display: flex;
	margin-top: 5vw;
	margin-right: 0;
	height: 40vh;
	max-width: 99vw;
}
.souscription{
	background:var(--blue2) ;
	width:80vw;
}
.souscription .align-sous{
	margin: 20px 120px;
	color: var(--white);
}
.souscription-image img{
	height: 40vh;
	width: 40vw;

}
input[type="email"]::placeholder{
	color: var(--white);
	font-weight: 600;
}
input[type="email"]{ 
	background: var(--blue2);
	border: none;
	border-bottom: solid 1px var(--white);
	padding: 10px;
	width: 30vw;
}
input[type="email"]:focus{
	background: var(--blue2);
	border: none;
	border-bottom: solid 1px var(--white);
	margin-bottom: 20px;
}
.Sind-In{
	border: none;
	color: var(--white);
}
footer{
	margin: 10px -20vw;
	display: flex;
	padding: 30px 550px;
}
footer div{
	margin-left: 50px;
}
footer .logo-icons img{
	
	width: 250px;
}
footer .logo-icons{
	width: 15vw;
}
.logo-icons .reseaux-sociaux{
	margin-left: -10px;
}
.steph{
	background: #f2f2f2;
	text-align: center;
	opacity: 0.7;
	height: 5vh;
	padding: 20px;
}
footer div p{
	opacity: 0.6;
}
.logo-icons .reseaux-sociaux i{
	font-size: 25px;
	margin: 8px;
	opacity: 0.6;
}



/* style pour tablete */
@media all and (max-width: 1000px){

	.souscription-space{
		display: flex;
		margin-top: 2vw;
		margin-right: 0;
		height: 50vh;
		width: 50vw;
	}
	.souscription{
		background:var(--blue2) ;
		width:50vw;
	}
	.souscription .align-sous{
		margin: 40px 50px;
		color: var(--white);
	}
	.souscription-image img{
		height: 50vh;
		width: 50vw;

	}
	.align-sous h2{
		font-size: 3.5vw;
	}
	.align-sous p{

	}
	.align-sous .Sind-In{
		margin: 15px 1vw;
		font-size: 2vw;
		padding: 15px;
		width: 12vw;
	}
	footer{
		margin: 10px -2svw;
		display: flex;
		padding: 30px 2vw;
	}

	footer div{
		margin-left: 3vw;
	}
	footer .logo-icons img{
		
		width: 160px;
		margin: 20px 0;
	}
	footer .logo-icons{
		width: 20vw;
	}
	.logo-icons .reseaux-sociaux{
		margin-left: -5px;
	}



}




/* style pour smartphone*/
@media all and (max-width: 600px){
	.customers-image{
		display: flex;
	}
	.customers-image img{
		opacity: 0.6;
		padding: 35px;
		width: 130px;

	}
	.customers-image img:hover{
		opacity: 1;
	}
	.p{
		text-align: center;
	}
	.souscription-space{
		display: block;
		margin-top: 3vw;
		height: 80vh;
		width:100% ;
	}
	.souscription{
		background:var(--blue2) ;
		width:100%;
		height: 55vh;
		padding: 30px 5px;
	}
	.souscription .align-sous{
		color: var(--white);
	}
	.souscription-image img{
		height: 40vh;
		width:100%;

	}
	.align-sous h2{
		font-size: 10.5vw;
	}
	.align-sous p{
		margin-top: -15px;
		font-size: 5vw;

	}

	input[type="email"]::placeholder{
		color: var(--white);
		font-weight: 600;
	}
	input[type="email"]{ 
		background: var(--blue2);
		border: none;
		border-bottom: solid 1px var(--white);
		padding: 10px 15px;
		width: 50vw;
	}
	input[type="email"]:focus{
		background: var(--blue2);
		border: none;
		border-bottom: solid 1px var(--white);
		margin-bottom: 20px;
	}
	.align-sous .Sind-In{
		margin: 15px 1vw;
		font-size: 4vw;
		padding: 15px;
		width: 25vw;
	}
	footer{
		position: absolute;
		margin-top: 35vw;
		margin-left: -8vw;
		
	}
	.logo-icons p{
		margin-top: -10px;
		display: block;
		width: 550vh;
		position: absolute;
	}
	footer div{
		margin-left: 11vw;
	}
	footer .logo-icons img{
		
		width: 85vw;
	}
	.useful{
		position: absolute;
		margin: 20vh 70vw;
		width: 100vw;
	}
	.navigation{
		margin: 20vh -15vw;
	}
	.resources{
		position: absolute;
		margin: 45vh 70vw;
		width: 100%;
	}
	.contact{
		margin: 45vh -20vw;
	}


	footer .logo-icons{
		width: 15vw;
	}
	.logo-icons .reseaux-sociaux{
		margin:0px -10px;
		display: flex;
	}
	.steph{

		margin-top: 100vh;
		background: #f2f2f2;
		text-align: center;
		opacity: 0.7;
		height: 5vh;
		padding: 20px;
	}
	footer div p{
		opacity: 0.6;
	}
	.logo-icons .reseaux-sociaux i{
		font-size: 20px;
		margin: 11px;
		opacity: 0.6;
	}






}