

.container-super{
	margin: 1vw 15vw;
}
.div-img{
	display: flex;
}
.div-img div img{
	width: 33vh;
	height: 33vh;
	border-radius: 10px;
	margin-right: 20px;
	margin-bottom: 80px;
}
.text-dessus{
	position: absolute;
	margin: -41vh 2vh;
	font-weight: 600;
	color: #000;
}
.text-dessus h3{
	margin-top: -7px;
}
h2 b{
	font-size: 12px;
	color: #fff;
	background: brown;
	border-radius: 5px;
	padding: 8px;
}