.container-blog{
	background: #f2f2f2;
	padding: 20px;
	height: 60vh;
}
.container-blog2{

	display: flex;
	margin-left: 14vw;
}
.content-blog{
	background: #fff;
	margin: 20px;
	height: 20vw;
	width: 22vw;
	cursor: pointer;
}
 .content-blog img{
	border-radius: 5px;
	height: 12vw;
	width: 22vw;

 }
.content-blog>p,.content-blog>h3{
	margin: 5px 20px;
	opacity: 0.7;
}
.content-blog>h3{
	color:brown ;
}
.content-blog>h3:hover{
	color:#007bff;
}


@media all and (max-width: 1000px){
	.container-blog{
		background: #f2f2f2;
		padding: 20px;
		height: 71vh;
	}
	.container-blog2{

		display: flex;
		margin-left: 1vw;
	}
	.content-blog{
		background: #fff;
		margin: 15px;
		height: 45vw;
		width: 35vw;
		cursor: pointer;
	}
	 .content-blog img{
		border-radius: 5px;
		height: 25vw;
		width: 28vw;

	 }
	.content-blog>p,.content-blog>h3{
		margin: 5px 20px;
		opacity: 0.7;
	}
	.content-blog>h3{
		color:brown ;
		font-size: 2.4vw;
	}
	.content-blog>h3:hover{
		color:#007bff;
	}


}